.chart-title{
	&, text, tspan{
		font-family: $chart-font-family;
		font-size: 18px;
		fill: rgba(0, 0, 0, 0.8);
	}
}

.chart-subtitle{
	&, text, tspan{
		font-family: $chart-font-family;
		font-size: 14px;
		fill: rgba(0, 0, 0, 0.5);
	}
}

.chart-footnote{
	&, text, tspan{
		font-family: $chart-font-family;
		fill: rgba(0, 0, 0, 0.5);
		font-size: 12px;
	}
}

.chart-source{
	&, text, tspan{
		font-family: $chart-font-family;
		fill:rgba(0, 0, 0, 0.5);
		font-size: 10px;
	}
}

.key-label{
	&, text, tspan{
		font-family: $chart-font-family;
		font-size: 12px;
		fill: rgba(0, 0, 0, 0.5);
	}
}
