path.line{
	fill:none;
	stroke-width:1.5;
	stroke-linejoin:round;
	stroke-linecap:round;
}

.series1{
	stroke:rgb(175,81,108);
}
.series2{
	stroke:rgb(236,175,175);
}
.series3{
	stroke:rgb(215,112,108);
}
.series4{
	stroke:rgb(118,172,184);
}
.series5{
	stroke:rgb(129,208,230);
}
.series6{
	stroke:rgb(78,134,182);
}
.series7{
	stroke:rgb(184,177,169);
}
.accent{
	stroke:rgb(184,177,169);
}
.forecast{
	stroke-dasharray:4,5;
}

line.key-line{
	fill:none;
	stroke-width:1.5;
	stroke-linejoin:round;
	stroke-linecap:round;
}