.chart-title{
	font-family: BentonSans, sans-serif;
	font-size: 20px;
	fill:rgba(0,0,0,0.8);
}

.chart-subtitle{
	font-family: BentonSans, sans-serif;
	fill:rgba(0,0,0,0.5);
}


.chart-footnote{
	font-family: BentonSans, sans-serif;
	fill:rgba(0,0,0,0.3);
	font-size: 0.8rem;
	font-style: italic;
}

.chart-source{
	font-family: BentonSans, sans-serif;
	fill:rgba(0,0,0,0.5);
	font-size: 0.8rem;
	font-style: italic;
}

.key-label{
	font-family: BentonSans, sans-serif;
	font-size: 13px;
	fill:rgba(0,0,0,0.5);
}
