.column {
    stroke: none;
}

.column--series1 {
    fill: $chart-series1-bar-color;
}

.column--series2 {
    fill: $chart-series2-bar-color;
}

.column--series3 {
    fill: $chart-series3-bar-color;
}

.column--series4 {
    fill: $chart-series4-bar-color;
}

.column--series5 {
    fill: $chart-series5-bar-color;
}

.column--series6 {
    fill: $chart-series6-bar-color;
}

.column--series7 {
    fill: $chart-series7-bar-color;
}
