$chart-line-stroke-width: 4;

//used by nightingale!!
//todo: pm: work out how to stop this
$chart-series1-line-color: rgb(175, 81, 108);
$chart-series2-line-color: rgb(236, 175, 175);
$chart-series3-line-color: rgb(215, 112, 108);
$chart-series4-line-color: rgb(118, 172, 184);
$chart-series5-line-color: rgb(129, 208, 230);
$chart-series6-line-color: rgb(78, 134, 182);
$chart-series7-line-color: rgb(184, 177, 169);
$chart-series-other-line-color: rgb(184, 177, 169);

$chart-series1-bar-color: rgb(187, 109, 130);
$chart-series2-bar-color: rgb(236, 175, 175);
$chart-series3-bar-color: rgb(215, 112, 108);
$chart-series4-bar-color: rgb(223, 143, 135);
$chart-series5-bar-color: rgb(175, 133, 127);
$chart-series6-bar-color: rgb(216, 166, 154);
$chart-series7-bar-color: rgb(184, 177, 169);
$chart-series-other-bar-color: rgb(184, 177, 169);

$chart-font-family: 'BentonSans', sans-serif;
