@import "variables";
//todo: remove me!
.axis {
    font-family: $chart-font-family;
}

.primary .tick text {
    font-size: 12px;
}

.accent {
    stroke: rgb(184, 177, 169);
}

.forecast {
    stroke-dasharray: 4, 5;
}
