html {
  -webkit-font-smoothing: antialiased;
}

body.ft {
    font-family: MillerDisplay, serif;
}

svg {
    -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
}

#views {
    float: left;
    margin-right: 50px;
}

#viewsSmall {
    float: left;
}
