.axis {
  font-family: 'BentonSans', sans-serif; }

.axis .tick, .axis .domain {
  shape-rendering: crispEdges; }

.y.axis, .x.axis {
  fill: none;
  stroke: rgba(0, 0, 0, 0.5); }

.y.axis text, .x.axis text {
  fill: rgba(0, 0, 0, 0.5);
  stroke: none; }

.y.axis .domain {
  stroke: none; }

.secondary .domain, .secondary .tick {
  stroke: none; }

.primary .tick text {
  font-size: 12px; }

.secondary .tick text {
  font-size: 10px; }

.y.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-dasharray: 2 2; }

.y.axis .origin.tick line {
  stroke: rgba(0, 0, 0, 0.3);
  stroke-dasharray: none; }

.y.axis text {
  text-anchor: end; }

.y.axis.right text {
  text-anchor: start; }

path.line {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round; }

.line--series1 {
  stroke: #af516c; }

.line--series2 {
  stroke: #ecafaf; }

.line--series3 {
  stroke: #d7706c; }

.line--series4 {
  stroke: #76acb8; }

.line--series5 {
  stroke: #81d0e6; }

.line--series6 {
  stroke: #4e86b6; }

.line--series7 {
  stroke: #b8b1a9; }

.accent {
  stroke: #b8b1a9; }

.forecast {
  stroke-dasharray: 4,5; }

line.key-line {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round; }

.column {
  stroke: none; }

.column--series1 {
  fill: #bb6d82; }

.column--series2 {
  fill: #ecafaf; }

.column--series3 {
  fill: #d7706c; }

.column--series4 {
  fill: #df8f87; }

.column--series5 {
  fill: #af857f; }

.column--series6 {
  fill: #d8a69a; }

.column--series7 {
  fill: #b8b1a9; }

.chart-title, .chart-title text, .chart-title tspan {
  font-family: 'BentonSans', sans-serif;
  font-size: 18px;
  fill: rgba(0, 0, 0, 0.8); }

.chart-subtitle, .chart-subtitle text, .chart-subtitle tspan {
  font-family: 'BentonSans', sans-serif;
  font-size: 12px;
  fill: rgba(0, 0, 0, 0.5); }

.chart-footnote, .chart-footnote text, .chart-footnote tspan {
  font-family: 'BentonSans', sans-serif;
  fill: rgba(0, 0, 0, 0.5);
  font-size: 12px; }

.chart-source, .chart-source text, .chart-source tspan {
  font-family: 'BentonSans', sans-serif;
  fill: rgba(0, 0, 0, 0.5);
  font-size: 10px; }

.key-label, .key-label text, .key-label tspan {
  font-family: 'BentonSans', sans-serif;
  font-size: 12px;
  fill: rgba(0, 0, 0, 0.5); }
